// Here you can add other styles
.c-sidebar {
    color: #fff;
    background: #077eee;
  }

  :root{

    --amplify-primary-color: #077eee;
    --amplify-primary-tint: #0000FF; 
    --amplify-primary-shade: #077eee;
  
    }