// Here you can add other styles
.c-sidebar {
    color: #fff;
    background: #0ac7ef;
  }

  :root{

    --amplify-primary-color: #13aac8;
    --amplify-primary-tint: #0ac7eF; 
    --amplify-primary-shade: #13aac8;
  
    }

    .span-right {
      float: right;
    }